<div class="row">
    <div class="col-9">
        <h2>CategoryList</h2>
    </div>
    <div class="col-3">
        <a asp-action="upsert" class="btn btn-info">
            <i class="fas fa-plus"></i>&nbsp; category
        </a>
    </div>
</div>
<div class="border m-2 p-2">
    <table id="tbldata" class="table table-bordered table-striped table-active">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
@* //ya kiya kand *@
@section scripts
    {
    <script>
        var dataTable;

        $(document).ready(function () {
            loadDataTable();

            function loadDataTable() {
                dataTable = $('#tbldata').DataTable({
                    "sPaginationType": "full_numbers",
                    "lengthMenu": [3,6,10,13,15,20], 
                    "ajax": {
                        "url": "/Adimen/cata/Getall"
                    },
                    "columns": [
                        { "data": "name", "width": "70%" },
                        {
                            "data": "id",
                            "render": function (data) {
                                return `<div class="text-center">
                                                    <a href="/Adimen/cata/Upsert/${data}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                                    <a class="btn btn-danger" onclick="Delete('/Adimen/cata/delete/${data}')"><i class="fas fa-trash-alt"></i></a>
                                                </div>`;
                            }
                        }
                    ]
                });
            }

            function Delete(url) {
                swal({
                    title: "Want to delete data?",
                    text: "Delete Information",
                    button: true,
                    icon: "warning",
                    dangerMode: true
                }).then((willdata) => {
                    if (willdata) {
                        $.ajax({
                            url: url,
                            type: "DELETE",
                            success: function (data) {
                                if (data.success) {
                                    toastr.success(data.message);
                                    dataTable.ajax.reload();
                                } else {
                                    toastr.error(data.message);
                                }
                            }
                        });
                    }
                });
            }
        });
    </script>
}
