@model Project_Model.VIewModel.ProductVM

<form method="post">
    <div class="form-group">
        <label for="SelectedCountryId">Select a Country:</label>
@*       //  @Html.DropDownListFor(m=>m.Product.CountryId,Model.CountryList,"Select covertype",new{@class="form-control"})
 *@    </div>

    <div class="form-group">
        <label for="SelectedCityId">Select a City:</label>
 @*        @Html.DropDownListFor(m=>m.Product.CountryId,Model.cityList,"Select cityList",new{@class="form-control"}) *@
    </div>

    <button type="submit" class="btn btn-primary" name="aa">Submit</button>
</form>


